<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed May 04 2016 10:20:01 GMT+0000 (UTC) -->
<html data-wf-site="56f90d9f88dad33d7baff461" data-wf-page="56f90d9f88dad33d7baff462">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/bistats.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Merriweather:300,400,700,900","Droid Serif:400,700"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="body">
  <div data-collapse="medium" data-animation="over-right" data-duration="400" data-contain="1" data-ix="hoverbackground" class="w-nav navbar">
    <div class="w-container navcontainer">
      <a href="#" class="w-nav-brand logo"><img width="80" src="images/bistats logo white.png" class="whitelogo"><img width="80" src="images/bistats logo black.png" class="blacklogo">
      </a>
      <nav role="navigation" class="w-nav-menu nevmenu"><a href="#" data-ix="growhover" class="w-nav-link menuitem">My Business</a><a href="#" data-ix="growhover" class="w-nav-link menuitemblack">My Business</a><a href="#" data-ix="growhover" class="w-nav-link menuitem">Explore</a><a href="#" data-ix="growhover" class="w-nav-link menuitemblack">Explore</a><a href="#" data-ix="growhover" class="w-nav-link menuitem">Subscriptions</a><a href="#" data-ix="growhover" class="w-nav-link menuitemblack">Subscriptions</a><a href="#" data-ix="growhover" class="w-nav-link menuitem">Support</a><a href="#" data-ix="growhover" class="w-nav-link menuitemblack">Support</a>
      </nav><a href="login.html" data-ix="growhover" class="w-button nevbuttonblack">Sign in</a><a href="login.html" data-ix="growhover" class="w-button nevbutton">Sign in</a>
    </div>
  </div>
  <div data-autoplay="data-autoplay" data-loop="data-loop" data-wf-ignore="data-wf-ignore" data-poster-url="https://daks2k3a4ib2z.cloudfront.net/56f90d9f88dad33d7baff461/56f92d788a9ecd2a08abde0d_350950598-poster-00001.png" data-video-urls="videos/350950598-transcode.webm,videos/350950598-transcode.mp4" class="w-background-video bgvid">
    <h1 class="herotext1">business owner?<br><br>growing your business is all about<br> knowing your customers.</h1>
    <div class="subhero">Start today. It's easy and free.</div><a href="#" data-ix="growhover" class="w-button startbutton">start here</a><a href="#" data-ix="growhover" class="w-button startbutton learnmore">learn MORE</a>
  </div>
  <div class="w-section darksection">
    <div class="w-container">
      <h1 class="herotext1 subsectiontitle">What is your business about?</h1>
      <div class="inlinediv">
        <div class="w-row row1">
          <div class="w-col w-col-6">
            <div>
              <div class="fontawesome1"></div>
              <h3 class="boxtitle">Restaurant</h3>
              <div class="text-bullet-white">
                <div class="fontawesome1 _20pxtext"></div>
                <h3 data-ix="bg-hover" class="smallbullettextwhite">Bar &amp; Club</h3>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Catering &amp; chef</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Restaurant</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Cafe &amp; Bakery</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div>
              <div class="fontawesome1"></div>
              <h3 class="boxtitle">Accomodation</h3>
              <div class="text-bullet-white">
                <div class="fontawesome1 _20pxtext"></div>
                <h3 class="smallbullettextwhite">Hotel</h3>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">B &amp; B</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Travel</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-row row1">
          <div class="w-col w-col-6">
            <div>
              <div class="fontawesome1"></div>
              <h3 class="boxtitle">Beauty &amp; Wellness</h3>
              <div class="text-bullet-white">
                <div class="fontawesome1 _20pxtext"></div>
                <h3 class="smallbullettextwhite">Spa</h3>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Beauty salon</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Hair designer</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div>
              <div class="fontawesome1"></div>
              <h3 class="boxtitle">Store</h3>
              <div class="text-bullet-white">
                <div class="fontawesome1 _20pxtext"></div>
                <h3 class="smallbullettextwhite">Clothing store</h3>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Book store</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">General store</h3>
                </div>
                <div class="text-bullet-white">
                  <div class="fontawesome1 _20pxtext"></div>
                  <h3 class="smallbullettextwhite">Market-store</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inlinediv30">
        <h1 class="whitesimpleheading">Business Intelligence for small and medium businesses.<br><br>No matter who you are, we can make data work for you.<br><br>Help your business grow <span class="underlined">for free.</span></h1>
      </div>
    </div>
  </div>
  <div class="w-section footer">
    <div class="w-container footercontainer">
      <div class="w-row">
        <div class="w-col w-col-3 colfoot">
          <div>
            <h1 class="footerheading">Product</h1><a href="#" class="footerlink">Explore</a><a href="#" class="footerlink">Features</a><a href="#" class="footerlink">Premium plans</a><a href="#" class="footerlink">My dashboard</a>
            <h1 class="footerheading">Company</h1><a href="#" class="footerlink">About bistats.</a><a href="#" class="footerlink">Jobs</a><a href="#" class="footerlink">Term of use</a><a href="#" class="footerlink">Privacy Policy</a><a href="#" class="footerlink">Abuse</a><a href="#" class="footerlink">Affiliates</a><a href="#" class="footerlink">Contact us</a>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div>
            <h1 class="footerheading">Community</h1><a href="#" class="footerlink">Blog</a><a href="#" class="footerlink">Stories</a><a href="#" class="footerlink">Hire a BI expert</a><a href="#" class="footerlink">Forum</a>
            <h1 class="footerheading">Support</h1><a href="#" class="footerlink">Support center</a><a href="#" class="footerlink">Training videos</a><a href="#" class="footerlink">Tutorials</a>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div><img width="80" src="images/bistats logo black.png" class="footerlogo">
            <p class="footerparagraph"><span class="bold">bistats.com</span> is a cloud-based business intelligence platform. We make it easy for you to track your business performance, investigate it, and come up with great insights. You can also share this information with other employees so that everyone is aware of how the business is doing and the upcoming challenges in the everyday work.</p>
            <p class="footerparagraph">Use bistats to gain more customer satisfaction, bring down product cost, make your work more efficient and ultimately - increase your business revenue.</p>
            <p class="footerparagraph">© 2016 bistats.com, Inc.</p><a href="http://www.facebook.com" target="_blank" class="socialicons facebook"></a><a href="http://www.youtube.com" target="_blank" class="socialicons youtube"></a><a href="#" class="socialicons instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>